/* Le minimum pour le HTML */
html{
    min-width: 350px ;
}

/* points de rupture pour les media query */
$largeur__media-tablette : 500px;
$largeur__media-desktop : 1000px;

/*layout général*/
$size__site-sidebar: 320px;