.site__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.site__info{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    @media screen and (min-width : $largeur__media-desktop) {
        &__liens{
            margin-top: 17px;
        }
        &__liens, &__nouvelle{
            padding-left: 20px;
            
        }
    }    
}

.site__info2{
    display: flex;
    flex-direction: row;
    &__droit{
        color: whitesmoke;
    }
    @media screen and (min-width : $largeur__media-desktop) {
        &__menu{
            padding-right: 20px;
            margin-top: 17px;
        }
    }
}