#burger {
    display: block;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

#chk-burger{
    display: none;
}

#chk-burger:checked ~ #burger {
    transform: rotate(540deg);
}

#chk-burger:checked ~ .menu-principal-container {
    display: block;
}

.menu-principal-container {
    display: none;
    padding: 30px 0 0 0 ;
    .menu {
    list-style: none;
        .menu-item {
            margin: 0;
            padding: 0;
            a{
                font-family: 'arial, sans-serif';
                padding: 5px;
                &:hover{
                    background-color: $color__background__link-hover;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (min-width: $largeur__media-tablette) {
    #burger{
        display: none;
    }
    .menu-principal-container {
        display: block;
    }
}