.home .site__main{
    h2{
		color: white;
		background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
        //animation: rainbowTest 8s linear;
        // animation-iteration-count: infinite;
		background-size: 600vw 600vw;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		animation: slide 9s linear infinite forwards;
    }
}
@keyframes arc-en-ciel {
	0%{
	  background-position-x: 0%;
	}
	100%{
	  background-position-x: 600vw;
	}
  }
/*@keyframes couleur{
	100%,0%{
	    color: rgb(255,0,0);
	}
	8%{
	    color: rgb(255,127,0);
	}
	16%{
	    color: rgb(255,255,0);
	}
	25%{
		color: rgb(127,255,0);
	}
	33%{
		color: rgb(0,255,0);
	}
	41%{
		color: rgb(0,255,127);
	}
	50%{
		color: rgb(0,255,255);
	}
	58%{
		color: rgb(0,127,255);
	}
	66%{
		color: rgb(0,0,255);
	}
	75%{
		color: rgb(127,0,255);
	}
	83%{
		color: rgb(255,0,255);
	}
	91%{
		color: rgb(255,0,127);
	}
}*/