.menu-accueil-container, .menu-evenement-container{ //nav

    .menu{//ul
        display: flex;
        justify-content: space-around;
        .accueil__cours .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=file-badge-bold");
        }
        .accueil__prof .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=octoface");
        }
        .accueil__aide .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=bug-bold");
        }
        .accueil__etudiant .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=mortar-board-bold");
        }
        
        .accueil__journee .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=mortar-board-bold");
        }
        .accueil__porte__1 .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=mortar-board-bold");
        }
        .accueil__porte__2 .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=mortar-board-bold");
        }
        .accueil__projet .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=mortar-board-bold");
        }
        
        .menu-item{//li
            display: flex;
            flex: 0 0 20%;
            height: 175px;
            a{ //a
                display: flex;
                flex-direction: column;
                color: $color__bouton__color;
                font-size: 1.5rem;
                height: 100%;
                text-align: center;
                align-items: center;
                .menu-item-description{ //span
                    font-size: 1rem;
                    text-align: center;
                }   
                .menu-item-icone{
                    width: 2rem;
                    height: 2rem;
                    border: 1px solid blue;
                    margin-top: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                } 
            }
          &:hover{
              a{
                  color: $color__bouton__color--hover;
              }
          }  
        }
    }
} // .menu-accueil-container