.menu-categorie_cours-container{ //nav
    .menu{//ul
        display: flex;
        list-style-type: none;

        .menu-item{//li
            margin: 0 15px;
            background-color: $color__bouton__background;
            a{ //a
                color: $color__bouton__color;
                padding: 5px;
                width: 100%;
                height: 100%;
                .menu-item-description{ //span

                }    
            }
            
        }
    &:hover{
        a{
            color: $color__bouton__color--hover;
        }
    }
    }
}